.property-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: max-content;
}

.property-struct {
	display: grid;
	grid-column: 1 / 3;
	grid-template-columns: 1fr 1fr;
}

.property-input-file,
.struct-header,
.property-label-wide,
.property-file-upload-button,
.property-input-url {
	grid-column: 1 / 3;
}

.property-file-upload-button {
	display: none;
}

.property-file-upload-button.file-present {
	display: initial;
}