:root {
	--icon-size: 1cm;
	--icon-background: white;
	--icon-border: 3px solid black;
	--icon-container-padding: 0.25cm;
	--panel-background: #c4c4c4;
	--panel-border: 3px solid #444444;
}

.ui-icon {
	width: var(--icon-size);
	height: var(--icon-size);
	background-color: var(--icon-background);
	border: var(--icon-border);
	border-radius: 0.25cm;
}



.icon-container {
	padding: var(--icon-container-padding);
}

.property-container {
	background-color: var(--panel-background);
	border: var(--panel-border);
}

.selected {
	background-color: #eeeeee;
	border-width: 4px;
}

.hyperlink {
	fill: blue;
	text-decoration: underline;
}