:root {
	--icon-size: 1cm;
}

.ui {
	position: relative;
}

.ui .svg-container {
	width: 100%;
	height: 100%;
}

.ui .bottom-container {
	position: absolute;
	bottom: 0.5cm;
	left: 0.5cm;
}

.ui .ui-icon {
	display: inline-block;
	pointer-events: all;
}

.ui .ui-icon>* {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.ui .icon-container {
	display: inline-flex;
}

.ui .panel-contents {
	overflow: hidden;
	transition: width 1s linear;
}

.ui .panel-contents.open {
	max-width: 1e12px;
}

.ui .panel-contents.closed {
	width: 0;
}