:root {
	--icon-size: 1cm;
}

body {
	height: 100%;
	touch-action: none;
}

.ui {
	position: relative;
	height: 100%;
}

.ui svg {
	width: 100%;
	height: 100%;
}

.ui.gesture-active>div,
.ui.gesture-active>div * {
	pointer-events: none;
}

.ui>div {
	pointer-events: none;
}

.ui>div * {
	pointer-events: initial;
}

.bottom-container {
	position: absolute;
	bottom: 0.5cm;
	left: 0.5cm;
	display: flex;
	align-items: center;
	align-items: start;
}

.right-container {
	position: absolute;
	top: 0.5cm;
	right: 0.5cm;
	display: flex;
	flex-direction: column;
	align-items: end;
}

.left-container {
	position: absolute;
	top: 0.5cm;
	left: 0.5cm;
	display: flex;
	flex-direction: column;
}

.right-container .panel-contents {
	flex-direction: column;
}

.ui-icon {
	display: inline-block;
	pointer-events: all;
	user-select: none;
}

.ui-icon>* {
	width: 100%;
	height: 100%;
	pointer-events: none;
}

.tool-icon {
	padding: 3px;
}

.icon-container {
	display: inline-flex;
	user-select: none;
}

.panel-contents {
	overflow: hidden;
	transition: width 1s linear;
}

.panel-contents.open {
	max-width: 1e12px;
}

.panel-contents.closed {
	display: none;
}